html,
body,
.container-form,
.overflow-auto {
    background-color: #f0f0f0 !important;
    scrollbar-width: none;
}

.list-group-item {
    margin: 6px 0;
}

.no-gutters {
    height: 100vh;
    scrollbar-width: none;
}

.pdf-pages {
    width: 60%;
    display: flex;
    flex-direction: column;
    background-color: #000000;
    padding: 20px;
    margin: 0;
    height: 100vh;
    overflow-y: auto;
    color: #ffffff;
}

.pdf-page {
    display: flex;
    flex-direction: column;
    background-color: white;
    color: #000;
    font-weight: 600;
    border: 2px solid black;
}

.pdf-file-name {
    color: rgb(232, 13, 13);
    font-size: 1.2rem;
    font-weight: 700;
}

.pdf-tools {
    display: flex;
    flex-direction: column;
}

.pdf-tools {
    position: fixed;
    top: 8.893vh;
    left: 0px;
    width: 25vw;
    height: 100vh;
    background-color: #f0f0f000;
    transition: transform 0.3s ease-in-out;
}

.pdf-tools.active {
    width: 0px;
    transform: translateX(0);
}

.pdf-tools-list {
    display: flex !important;
    align-items: center !important;
    gap: 10px !important;
    background-color: #f0f0f000 !important;
    border: none !important;
}

.btn-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.width {
    width: 25vw
}

.pdf-tools .trial {
    display: none !important;
}

@media (orientation: portrait) {
    .btn-sm {
        font-size: 0.5rem !important;
    }
    .pdf-file-name,.selectall{
        font-size: 0.5em;
    }
    .pdf-tools .trial {
        position: fixed;
        bottom: 10vh;
        left: 0;
        width: 25vw;
        background-color: #00000000;
        display: block;
    }

    .btn-toggle {
        padding: 0px;
    }

    #toggle {
        width: 60%;
    }

    .btn-toggle .pdf-tools-list p {
        font-size: 1.29em;
    }

    .profile a:first-child {
        display: none;
    }

    #logo {
        font-size: 0.7em;
        padding: 5px;
        margin: 0;
    }

    .pdf-tools-list {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

@media (orientation: landscape) {
    #logo {
        font-size: 1.5em;
    }
}